<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifrs.musicnotes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.edu.ifrs.musicnotes.activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.edu.ifrs.musicnotes.activity.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.FullScreen"></activity>
        <activity
            android:name="br.edu.ifrs.musicnotes.activity.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="br.edu.ifrs.musicnotes.activity.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="br.edu.ifrs.musicnotes.activity.SearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="br.edu.ifrs.musicnotes.activity.AlbumActivity" />
        <activity android:name="br.edu.ifrs.musicnotes.activity.SpotifyTokenActivity" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>